hr {
    margin: 10px;
}

li {
    list-style: none;
}

.count {
    display: inline-block;
    width: 3rem;
    text-align: center;
}

.btn {
    margin: 1px;
}

.container {
    padding-top: 10px;
}
